.navbar{
    height: 85px;
    background: linear-gradient(to right,black,rgb(68, 64, 64));
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2vw;
}

.nav-left{
    font-size: 40px;
    font-weight: 800;
}

.nav-right{
    color: white;
    display: flex;
    font-size: 2.5vh;
    justify-content: flex-start;
    gap: 50px;
}

.navbar button{
    background-color: #4fb2d5;
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.navbar button:hover{
    background-color: rgb(108, 204, 201);
    color: azure;
}